<%-include("../../views/partials/admin/header")%>

   

                <!-- Main Content -->
                <section class="content-main">
                  <div class="content-header">
                    <div class="container my-5 ">
                      <!-- Order Header -->
                      <div class="row mb-4 mt-5">
                          <div class="col-md-8">
                              <h2>Order #<%=order.orderId %> </h2>
                              <p class="text-muted">Placed on   <%= order.invoiceDate.toDateString() %></p>
                          </div>
                          <div class="col-md-4 text-md-end mt-4">
                              <span class="order-status status-<%= order.orderStatus%>"> <%= order.orderStatus%></span>
                          </div>
                      </div>
              
                      <!-- Order Details Card -->
                      <div class="card mb-4">
                          <% for(let i=0;i<items.length;i++){%>
              
                          <div class="card-body">
              
                              <div class="row">
                                  <div class="col-md-2">
                                      <img src="/uploads/product-images/<%=img[i].image[0] %>" alt="Nike Shoes" class="product-img">
                                  </div>
                                  <div class="col-md-6">
                                      <h5><%=items[i].productName %> </h5>
                                      <p class="text-muted mb-1">Size: <%=items[i].size%></p>
                                      <p class="text-muted mb-1">Price: <%=items[i].price%></p>
                                      <p class="text-muted mb-1">Quantity: <%=items[i].quantity%></p>
                                  </div>
                                  <div class="col-md-4 text-md-end">
                                      <h5>₹ <%=items[i].total %></h5>
                                    
                                  </div>
                              </div>
                          </div> 
                                         <% } %>
              <hr>
                                         <div class="card-body">
                                          <div class="row">
              
                                              <div class="col-md-6 text-md-center">
                                                  <h3>Total</h3>                           
              
                                              </div>
                                              <div class="col-md-6 text-md-end">
                                                  <h3>₹<%=order.finalAmount %>.00</h3> 
                                                  <!-- <button class="btn btn-outline-primary mt-2" data-bs-toggle="modal" data-bs-target="#returnModal">
                                                      Return Item
                                                  </button>                           -->
              
                                                  <td>
                                                      <% if (order.orderStatus === 'Pending') { %>
                                                          <button class="btn btn-danger" onclick="cancelOrder('<%= order.orderId %>')">Cancel Order</button>
                                                      <% } else if (order.orderStatus === 'Processing') { %>
                                                          <button class="btn btn-secondary" disabled>Processing...</button>
                                                      <% } else if (order.orderStatus === 'Shipped') { %>
                                                          <button class="btn btn-info" onclick="trackOrder('<%= order._id %>')">Track</button>
                                                      <% } else if (order.orderStatus === 'Delivered') { %>
                                                          <button class="btn btn-warning" onclick="returnOrder('<%= order._id %>')">Return</button>
                                                      <% } else if (order.orderStatus === 'Cancel-Requested') { %>
                                                          <button class="btn btn-secondary" disabled>Cancel Requested</button>
                                                      <% } else if (order.orderStatus === 'Cancelled') { %>
                                                          <button class="btn btn-dark" disabled>Order Cancelled</button>
                                                      <% } else if (order.orderStatus === 'Return-Requested') { %>
                                                          <button class="btn btn-secondary" disabled>Return Requested</button>
                                                      <% } else if (order.orderStatus === 'Returned') { %>
                                                          <button class="btn btn-success" disabled>Returned</button>
                                                      <% } %>
                                                  </td>
              
                                              </div>
                                             
              
              </div>
                                         </div>
                                        
              
                      </div>
              
                      <!-- Shipping and Payment Info -->
                      <div class="row">
                          <div class="col-md-6">
                              <div class="card mb-4">
                                  <div class="card-header">
                                      <h5 class="mb-0">Shipping Address</h5>
                                  </div>
                                  <div class="card-body">
                                      <p class="mb-1"><%=address.address[0].fullName %></p>
                                      <p class="mb-1"><%=address.address[0].landMark %></p>
                                      <p class="mb-1"><%=address.address[0].place %> ,<%=address.address[0].city %> </p>
                                      <p class="mb-1"><%=address.address[0].state %> - <%=address.address[0].pincode %></p>
                                      <p class="mb-0"><%=address.address[0].country %></p>
                                      <p class="mb-0">phone : <%=address.address[0].phone %></p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="card mb-4">
                                  <div class="card-header">
                                      <h5 class="mb-0">Payment Information</h5>
                                  </div>
                                  <div class="card-body">
                                      <p class="mb-1">Payment Method: <%=order.paymentMethod %></p>
                                      <!-- <p class="mb-1">Card: **** **** **** 1234</p> -->
                                      <p class="mb-3">Amount Payable: ₹<%=order.finalAmount %>.00</p>
                                      <hr>
                                      <div class="d-flex justify-content-between">
                                          <span>Subtotal:</span>
                                          <span>₹<%=order.finalAmount %>.00</span>
                                      </div>
                                      <div class="d-flex justify-content-between">
                                          <span>Shipping:</span>
                                          <span>0.00</span>
                                      </div>
                                      <!-- <div class="d-flex justify-content-between">
                                          <span>Tax:</span>
                                          <span>$12.00</span>
                                      </div> -->
                                      <hr>
                                      <div class="d-flex justify-content-between fw-bold">
                                          <span>Total:</span>
                                          <span>₹<%=order.finalAmount %>.00</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>

                  </div>
                </section>
        
                <%-include("../../views/partials/admin/footer")%>
