
<%-include("../../views/partials/admin/header")%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded font-md">Import</a> -->
                    <button type="button" class="btn btn-primary"><i  class="material-icons md-plus"></i><a href="/admin/addProducts" class="text-white">Create New Product</a></button>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <!-- <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>All category</option>
                                <option>Electronics</option>
                                <option>Clothings</option>
                                <option>Something else</option>
                            </select>
                        </div> -->
                        <!-- <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Latest added</option>
                                <option>Cheap first</option>
                                <option>Most viewed</option>
                            </select>
                        </div> -->
                    </div>
                </header>
                <!-- card-header end// -->
                  <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Regular Price</th>
                            <th>Sale Price</th>
                            <th>Category</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th>Active/Blocked</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (product.length === 0) { %>
                            <tr>
                              <td colspan="5" class="text-center">There are no users on this page</td>
                            </tr>
                          <% } else { %>
                        <% product.map((item,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><img src="/uploads/product-images/<%=item.productImage[0]%>" alt="" class="product-cell-img rounded" width="70px" height="50px"></td>
                            <td><a href="#" class="text-dark"><%=item.productName%></a></td>
                            <td><%=item.regularPrice%></td>
                            <td><%=item.salePrice%></td>
                            <td><%=item.category.name%></td>
                           
                            <% 
                            const totalstocks = item.sizes 
                                ? item.sizes.reduce((sum, sizeObj) => sum + sizeObj.stock, 0)
                                : 0;
                        %>
                        <td><%= totalstocks %></td>
                        
                       
                        <td>
                            <% if(item.status === 'Available' || totalstocks > 0){ %>
                           <span class="badge bg-success">Available</span>
                           <% }else{ %>
                               <span class="badge bg-warning">Sold Out</span>
                               <% } %>
                           </td>
                           <td>
                            <% if(item.isBlocked === false){ %>
                           <span class="badge bg-success">Active</span>
                           <% }else{ %>
                               <span class="badge bg-danger">Blocked</span>
                               <% } %>
                           </td>

                            <td class="text-end">
                                <div class="dropdown">
                                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        <i class="material-icons md-more_horiz"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/admin/editProduct?id=<%=item._id %>">Edit</a>
                                        <% if(item.isBlocked === false){%>
                                        <a class="dropdown-item text-danger"href="/admin/unlistProduct?id=<%=item._id %>">Block</a>
                                        <% }else{%>
                                            <a class="dropdown-item text-danger" href="/admin/listProduct?id=<%=item._id %>">Unblock</a>
                                            <% } %>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td><img src="images/child-1.jpg" alt="Product" class="product-cell-img rounded"></td>
                            <td><a href="#" class="text-dark">Nike children's Shoe</a></td>
                            <td>$179.00</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="images/child-1.jpg" alt="Product" class="product-cell-img rounded"></td>
                            <td><a href="#" class="text-dark">Nike children's Shoe</a></td>
                            <td>$179.00</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </td>
                        </tr> -->
                        <!-- Add more rows as needed -->
                        <%})%>
                        <% } %>

                    </tbody>
                </table>
            </div> <!-- table-responsive end -->
        </div> <!-- card-body end -->
    </div> <!-- card end -->
                       
                        <!-- col.// -->
                    </div>
                    <!-- row.// -->
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
            <div class="pagination-area">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <% for(let i=1;i<=totalPages;i++){%>
                    <li class="page-item  <%= (i===currentPage) ? 'active' : ''  %>"><a class="page-link" href="?page=<%= i %> ">
                      <%= i %>
                    </a></li>
                   <% } %>
  
                   <li class="page-item <%= (currentPage === totalPages) ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next" <%= (currentPage === totalPages) ? 'tabindex="-1" aria-disabled="true"' : '' %> >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
  
                  </ul>
                </nav>
              </div>
        </section>
         <!-- content-main end// -->
         <%-include("../../views/partials/admin/footer")%>
